<!DOCTYPE html>
<html>
<head>
  <title>School Management System</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f2f2f2;
      }
      .navbar {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #333;
          color: #fff;
          padding: 10px 20px;
      }

      .navbar-title {
          font-size: 20px;
      }

      .logout-button {
          background-color: #dc3545;
          color: #fff;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
      }

      .container {
          margin: 0 auto;
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          padding: 20px;
          height: 100vh;
      }

      h1 {
          text-align: center;
      }

      .text-right {
          text-align: right;
      }
  </style>
</head>
<body>
<div class="navbar">
  <div class="navbar-title">School Management System</div>
  <% if user_signed_in? %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "logout-button" %>
  <% end %>
</div>
<div class="container">

  <%= yield %>
</div>
</body>
</html>